---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: {{ include "microservice.name" . }}-backend-config
spec:
  healthCheck:
    checkIntervalSec: 5
    timeoutSec: 3
    healthyThreshold: 1
    unhealthyThreshold: 2
    type: HTTP
    requestPath: /healthz
    port: 8080
---
